html {
  font-family: 'Roboto',
    sans-serif;
}


/* .player-card {
  width: 35%;
  height: 200px;
} */

.title {
  text-align: center;
}

.profile-img {
  height: 50px;
  margin-left: 10px;
  margin-top: 50%;
}


.rock-btn, .paper-btn, .scissors-btn {
  padding-left: 12px;
  padding-right: 10px;
  text-align: center;
}

.message-card {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  padding: 0px;
}


.message-title {
  padding-left: 25px;
  text-align: center;
  font-size: 1em;
}

#message-content {
  padding: 0px;
  font-size: 0.95em;
  margin-top: 12px;
}

#message-action {
  padding-top: 6px;
  padding-bottom: 5px;
  margin-top: 12px;
}

#messages {
  padding-left: 33px;
  padding-right: 33px;
  overflow-y: scroll;
  height: 170px;
  width: 780px;
}

#message-text {
  width: 10px;
  font-size: 0.95em;
}

#message-form {
  width: 700px;
}

#textarea2 {
  padding-top: 0;
  margin-bottom: 0;
}

#chat-label {
  font-size: .9em;
}

.send-btn {
  width: 50px;
  height: 35px;
  display: inline-block;
  margin-top: 30px;
}

.divider {
  margin-top: 10px;
}