html {
  font-family: 'Roboto',
    sans-serif;
}

#container {
  width: 90%;
}

.player-card {
  height: 190px;
  width: 290px;
  /* background-color: #b2dfdb; */
}


.title {
  text-align: center;
}

.name-field {
  margin-bottom: 0;
}

.start-btn {
  text-align: center;
}

#player-row {
  margin-top: 35px;
}

.player-name {
  font-size: 2.5em;
  text-align: center;
}

.p1-content {
  text-align: center;
  font-size: 1.2em;
}

.p2-content {
  text-align: center;
  font-size: 1.2em;
}


.player-action {
  padding-right: 18px;
  padding-left: 18px;
  text-align: center;
}


.rock-btn,
.paper-btn,
.scissors-btn {
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
  font-size: .75em;
  height: 32px;
  margin-left: 3px;
  margin-right: 3px;
}

#game-col {
  width: 50%;
}

.game-card {
  width: 80%;
  margin: auto;
  margin-top: 28px;
  height: 300px;
}

#game-title {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0px;
  color: #26a69a;
}

#game-status {
  font-weight: 700;
  font-size: 27px;
  padding-top: 3px;
}

.choice {
  height: 140px;
}

#option-card {
  padding-top: 48px;
}

.p2-option {
  float: right;
}

.p1-choice {
  animation-name: moveInLeft;
  animation-duration: .9s;
  animation-timing-function: ease-out;
}

.p2-choice {
  animation-name: moveInRight;
  animation-duration: .9s;
  animation-timing-function: ease-out;
  transform: scaleX(-1);
}

.option-area {
  display: inline-block;
}


@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-280px);
  }

  50% {
    opacity: .1;
  }

  80% {
    opacity: .4;
    transform: translateX(150px);
  }

  100% {
    opacity: 1;
    transform: translateX(0)
  }
}


@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(280px);
  }

  50% {
    opacity: .1;
  }

  80% {
    opacity: .4;
    transform: translateX(-150px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    transform: scaleX(-1);
  }
}

#p2-col {
  float: right;
}


#message-section {
  padding-top: 30px;
}

.message-card {
  /* position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin: auto;
  width: 800px;
  padding: 0px;
}

#message-header {
  height: 30px;
}

.message-title {
  padding-left: 25px;
  text-align: center;
  font-size: 1em;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 3px;
}

#message-content {
  padding: 0px;
  font-size: 0.95em;
  margin-top: 12px;
}

#message-action {
  padding-top: 6px;
  padding-bottom: 5px;
  margin-top: 12px;
}

#messages {
  padding-left: 33px;
  padding-right: 5px;
  overflow-y: scroll;
  height: 190px;
  width: 780px;
  margin-right: 0;
}

#message-text {
  width: 700px;
  font-size: 0.95em;
  height: 50px;
}

#messages p:first-letter {
  text-transform: capitalize;
}

#message-form {
  width: 700px;
}

#textarea2 {
  padding-bottom: 0;
  margin-bottom: 0;
}

#chat-label {
  font-size: .9em;
}

.chat-date {
  float: right;
  font-size: .75em;
  color: rgb(177, 177, 177);
  opacity: .7;
  margin-left: 3px;
}

.chat-name {
  font-weight: 700;
}

.chat-message:hover {
  color: black;
  background-color: rgb(218, 218, 218);
  font-weight: 700;
  transition: .7s;
}


.chat-message:hover span {
  color: black;
  font-weight: 700;
  transition: .7s;
  background-color: rgb(218, 218, 218);
}

.status-message {
  /* background-color: rgba(231, 231, 231, 0.24); */
  color: rgba(180, 180, 180, 0.664);
}


.send-btn {
  width: 50px;
  height: 35px;
  display: inline-block;
  margin-top: 30px;
}

.divider {
  margin-top: 10px;
}